[Unit]
Description=secprac client
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/
Environment="SECPRAC_SERVICE_ARGS=%I"
ExecStart=/usr/local/bin/secprac-client $SECPRAC_SERVICE_ARGS
Restart=never

[Install]
WantedBy=multi-user.target
